body {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  font-size: 14px;
}
#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 50px;
}
#app .badge {
  display: inline-block;
  min-width: 10px;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #777;
  border-radius: 10px;
}
#app .badge.red {
  background: #db2828;
}
#app .badge.green {
  background: #21ba45;
}
#app .badge.blue {
  background: #2185d0;
}
#app h2 {
  font-size: 18px;
  font-weight: 400;
}
#app ul {
  list-style-type: none;
  padding: 0;
}
#app ul li {
  display: inline-block;
  margin: 0 10px;
}
#app ul li a {
  text-decoration: none;
}
